.banner {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
  position: relative;
  margin-bottom: 75px;
}

.big-avatar {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: white;
}
