header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--surface-color);
  padding: 0 6rem;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.box:first-child {
  justify-content: flex-start;
}

.box:last-child {
  justify-content: flex-end;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.title span {
  color: var(--primary-color);
}

@media (max-width: 1200px) {
  header {
    padding: 0 2rem;
  }

  .dummy-box {
    display: none;
  }
  
  .box:nth-child(2) {
    justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  header {
    padding: 0 0.5rem;
  }

  .title {
    font-size: 1rem;
  }
}
